#home #pagewrapper .mc-image {
    position: relative;
    display: block;
    max-width: 100%;
    background-position: top center;
    -ms-background-size: contain;
    -webkit-background-size:  contain;
    -moz-background-size:  contain;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 424px;
    padding-bottom: 41.40625%;
    height: 646px;
}

#home #mainimagelist {
    background: white !important;
}

  @media (min-width: 1340px) {
      #home #pagewrapper .mc-image {
          max-height: none;
          height: 746px;
      }

      #home #mainimagelist {
        height: 746px;
    }

  }

  @media (min-width: 1490px) {
      #home #pagewrapper .mc-image {
          max-height: none;
          height: 846px;
      }

      #home #mainimagelist {
        height: 846px;
    }

  }

  @media (min-width: 1710px) {
      #home #pagewrapper .mc-image {
          max-height: none;
          height: 946px;
      }

      #home #mainimagelist {
        height: 946px;
    }

  }

  @media (min-width: 1822px) {
      #home #pagewrapper .mc-image {
          max-height: none;
          height: 1046px;
      }

      #home #mainimagelist {
        height: 1046px;
    }

  }
