$spacing-unit: 22px;

@import "ui/settings/functions";
@import "ui/tools/mixins";

@import "ui/objects/buttons";

@import "ui/components/homepage";
@import "ui/components/footer";
@import "ui/components/header";
@import "ui/components/advanced-search-sidebar";

@import "ui/components/slideshow";
@import "ui/components/search-box";

@import "ui/components/cart-lightbox-slideout-modal";

@import "ui/components/search-page";

@import "ui/components/layout";

@import "ui/components/page-nav";

@import "ui/components/dropdown-menu";

@import "ui/components/preview-page";


/*
    Infradox Team
*/

#home .centeredcontent {
    height:initial !important;
    min-height:600px;
}
#masthead .mastheadleft {
    overflow: visible;
}
#activelocale, li.locale {
    display:none
}
